body{
    /* background-color: #D0CEBA;
     */
     background-color: #D8CFAF;
}

.game-container{
    display: flex;
    justify-content: center;
}

h1{
    text-align: center;
    font-family: 'DynaPuff', cursive;
    color: #4E0250;
    font-size: xx-large;
}

.instructions-container{
    padding-left: 10%;
    padding-right: 10%;
}

.instructions-container{
    font-family: 'DynaPuff', cursive;
    /* color: #4E0250;
     */
     color: #453F3C;
}